@model ListImageModel

    <div id="contentImage" class="bg-lblack">
        <div id="imageNewest10">
            <p class="text-orange">Newest 10</p>
            <div class="swiper-container-newest">
                <div class="swiper-wrapper">
                    @foreach (var image in Model.newestImages)
                    {
                        <img ondblclick="openViewWindowImage('@image.Url','@image.Name','@image.Views','@image.Description','@image.Id')" class="swiper-slide swiper-slide-newest" src="@image.Url" />
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <hr />
        </div>

        <div id="imageBest">
            <p class="text-orange">Best 10</p>
            <div class="swiper-container swiper-container-best">
                <div class="swiper-wrapper">
                    @foreach (var image in Model.bestImages)
                    {
                        <img class="swiper-slide" ondblclick="openViewWindowImage('@image.Url','@image.Name','@image.Views','@image.Description.ToString()','@image.Id')" src="@image.Url"/>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <hr />
        </div>

        <div id="imageAll">
            <p class="text-orange">All pictures</p>
            <div class="swiper-container swiper-container-all">
                <div class="swiper-wrapper">
                    @foreach (var image in Model.allImages)
                    {
                        <img class="swiper-slide" ondblclick="openViewWindowImage('@image.Url','@image.Name','@image.Views','@image.Description','@image.Id')" src="@image.Url"/>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <hr />
        </div>

        <div>
            <a onclick="onClickUploadImage()" type="button" class="btn bt-orange" id="buttonUploadImage">Upload your image!</a>
        </div>
    </div>

