@model ListVideoModel

<div id="contentVideo">
    @foreach (var video in Model.allVideos)
    {
    <div id="cardLongBox">
        <a id="cardLong" onclick="openViewWindow('@video.Url','@video.Name','@video.Views','@video.Description','@video.Id')">
            <video src="@video.Url"></video>
            <div id="cardLongDescribe">
                <h3>@video.Name</h3>
                <h6>Views: @video.Views</h6>
                <div></div>
                @if (video.Description.Length > 450)
                {
                    <p>@(video.Description.Substring(0, 450) + "...")</p>
                }
                else {
                    <p>@video.Description</p>
                }
            </div>
        </a>
        <div id="cardLongButtons">
            <a onclick="onClickEditVideo('@video.Name','@video.Description','@video.Id')" type="button" class="btn" id="buttonEditVideo">Edit</a>
            <a onclick="onClickDeleteVideo('@video.Id')" type="button" class="btn btn-danger" id="buttonDeleteVideo">Delete</a>
        </div>
    </div>
    }

    <div>
        <a onclick="onClickUploadVideo()" type="button" class="btn btn-success" id="buttonUploadVideo">Upload your video!</a>
    </div>
</div>



