@model ListImageVideoModel

<div id="contentIndex">
    @foreach (var video in Model.ListVideos)
    {
        <a id="card">
            <video src="@video.Url" onclick="openViewWindow('@video.Url','@video.Name','@video.Views','@video.Description','@video.Id')"></video>
            <div id="ContentDescribe">
                <h3>@video.Name</h3>
                <p>Views: @video.Views</p>
            </div>
        </a>
    }
    @foreach (var image in Model.ListImages)
    {
        <a id="card">
            <img src="@image.Url" alt="@image.Name" onclick="openViewWindowImage('@image.Url','@image.Name','@image.Views','@image.Description','@image.Id')"/>
            <div id="ContentDescribe">
                <h3>@image.Name</h3>
                <p>Views: @image.Views</p>
            </div>
        </a>
    }
</div>
